<%+header%>

<%+tasks/embed%>

	<td colspan="4" width="100%">
		<p style="margin: 10px 0; text-align: center">
			<img src="<%=resource%>/about/img/logo.png" alt="heavenke">
		</p>
		<p style="margin: 10px 0; text-align: center">
			夜已沉默者，字逗比，号无情居士，广东平远县人也。 <br>默生于戌辰年庚壬，当世时，太冲犯甲廑之阴虚，亢金聚耀刳之唳斗，风雨大作，天地瞑瞑，江河倒逆，日月无光，哭啼之声，数里皆闻，众怪之，以为不祥。 <br>居数载，世渐显其颖慧。<br>人言其有干罗匡衡之才，项橐闵损之智，.然不好学，众甚异之。 及默入痒，学书三月，不成，去；学剑不成，又去。<br>师怒而斥之，答曰：“学书,唯识名字耳；学剑，匹夫之勇也，此二者，俱不足学。<br>吾所愿者，马踏章台，泛游秦淮，夜听吴歌，醉伴楚舞，流连于青楼之迹，徜徉于娃馆之间。<br>所谓醒握杀人剑，醉卧美人膝。<br>人生若此，方显其趣也。<br>”师闻之，仰天而叹曰：“嗟夫!吾志于菁莪三十余载，今日方有此子可传吾衣钵，甚矣幸哉！”<br>遂传其下恣秽之术， 默习之，大喜，曰：“吾愿得矣！” <br>默少时，喜窥秽书，众皆以为耻，独其乐陶其间。<br>或有劝之者，其曰：“周公之礼，关乎伦常，岂吾不可观也欤?”<br>于是变本加厉，常于性浓时，深夜狼嚎，乡邑皆惊。<br>至此，居士之奇事，传之弥远，而流于荒诞矣。 待其弱冠，濦名播于四海，“无情居士”之名，可止小儿夜啼。<br>默长太息曰：“群狼束手，濦剑空利。悲哉甚矣！吾当著书立说，以飨后世。”<br>于是，以无情居士之号指点江山，颠覆江湖，欲以成神。然未果，因未明，故成神未成，乃飘然去矣。<br>时人叹曰：居士已携萝莉去，不看尽不思归。<br>闭关数月后，乃重出江湖，问其因缘，其轻抚菊花，笑而不语。<br>当正时，乃著奇书《洞玄子三十六散手》，天下哗然，士林皆闻，洛阳纸贵。<br>尔后著《玉蒲团》，众濦民争相膜拜，一日之内，凡井水处，皆有濦民。默乃立菊花教，称无情大士，教化各界众生。<br>三界之内，万民来朝，俯听训诫，群狼争嚎，震响九州。 <br>十三娘曰：《诗》云：“追琢其章，金玉其相。”<br>沉默者可谓贤乎？<br>文王居羑里，演《周易》；老聃出函谷，留《道德》，子长辱蚕室，著《史记》。<br>沉默者，大抵其类也，留奇书而惠万世狼民。<br>贤哉，无情居士！
		</p>
	</td>

<%+footer%>
